/* Write your CSS here */
.img1 {
  height: 200px;
  width: 400px;
}

.con2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.para {
  font-style: bold;
  text-decoration: none;
}

.con7 {
  margin-top: 20px;
}
